@model SVU.Web.UI.ViewModels.Account.HomeworkAWPAccountViewModel
@{
    ViewBag.title = "AWP health portal";
}
<!--Part Title-->
<div class="container text-center slide-in-left pt-2">
    <h1>Health AWP homework</h1>
    <hr />
</div>

<div class="container slide-in-right ">
    <p>
        Welcome to our super health <i class="fa fa-heart text-danger puls"></i> website where we have <a href="/awphealth/blogs">Blogs</a> for all kind of health issues.
        <br />
        You can also send us a <a href="/awphealth/healthrequest">Request</a> and with our team of best doctores will replay back to you. <i class="fa fa-smile text-primary"></i>
    </p>

    <partial name="_Errors" model="Model.Errors"></partial>

    @if (!User.Identity.IsAuthenticated)
    {
        <span class="display-4">
            Do you have an account ?
        </span>

        <form asp-action="login" asp-controller="AWPAccount" method="post">


            <div class="form-group">
                <label class="col-form-label" asp-for="Username"></label>
                <input class="form-control" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger" />

            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>

            <div class="mb-3">
                <partial name="Components/BotDetectorCaptchaComponent" model="Model.Captcha" />
                @Html.TextBoxFor(item => item.Captcha.CaptchaCode)
            </div>

            <input type="submit" value="Login" class="btn btn-primary btn-lg" />
        </form>
    }
    else
    {
        <h1>Welcome back!<span class="text-primary"> @User.Identity.Name,</span> </h1>
        <span class="text-info"><i class="fa fa-calendar-alt"></i>  @DateTime.UtcNow.ToShortDateString()</span>

        @if (User.IsInRole("admin"))
        {
            <partial name="./Health/HealthControlPanel.cshtml" />
        }
        else if (User.IsInRole("basic"))
        {
            <partial name="~/Views/Homework/Health/HealthUserForm.cshtml" model="Model.UserViewModel"></partial>
        }
    }

</div>

<div class="container text-center slide-in-left mt-2 p-5 bg-light">
    <h1>Developers <i class="fa fa-laptop-code"></i></h1>
    <hr />
    <h4>Saria Houloubi</h4>
    <h4>Mohammed Shaker</h4>
    <h4>Bakr Hawari</h4>
    <h4>Ibrahim Moharam</h4>
    <hr />

</div>
