/*
    Custom images
*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    img {
        width: 100% !important;
    }
}

img {
    max-width: 30vw;
    border: 1px solid white;
    border-radius: 10px;
}

captcha img {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0px !important;
}
