/*
    Custom menus
*/

.v-scroll-menu {
    white-space: nowrap;
    overflow: auto;
}

    .v-scroll-menu .card {
        display: inline-block;
        padding: 14px;
        margin: 20px;
        max-width : 400px;
    }
