@{ 
    ViewBag.Title = "Opss no access!";
}
<div class="container text-center">
    
    <h1 class="display-1">
        No Permissions!
    </h1>
    <img  src="~/img/_NoAccess.svg" alt="No access image"/>
</div>