@{ 
    ViewBag.Title = "Opss Not Found";
}
<div class="container text-center">
    
    <h1 class="display-1">
        Requesting page not found.
    </h1>
    <img  src="~/img/_NotFound.jpg" alt="Not found image"/>
</div>