
<div class="box-holder">
    <div class="box-content">
        <a role="button" href="#about" class="btn btn-info text-light rounded border rounded-pill">About</a>
        <a role="button" href="#lectures" class="btn btn-info text-light rounded border rounded-pill">Lectures</a>
        <a role="button" href="#homework" class="btn btn-warning text-light rounded border rounded-pill">Homewroks</a>
    </div>
</div>
