@{
    ViewBag.title = "Blogs";
}
<!--Part Title-->
<div class="container text-center slide-in-left pt-2">
    <h1>Explore <i class="fa fa-glasses text-primary"></i> our blogs!</h1>
    <hr />
</div>

<div id="blog_list" class=" container-fluid text-center">

    <div id="loading_part">
        <span class="text-warning fa-5x">Loading <i class="fa fa-spinner fa-spin "></i></span>
    </div>

</div>

<div class="text-center m-3">
    <button class="btn btn-primary collapse" id="load_More_btn" onclick="loadMoreBlogs(this)">
        <i class="fa fa-spinner fa-spin collapse"></i>
        Load More
    </button>
</div>

<script src="~/js/AWPHealthBlogs.js"></script>
