@{
    ViewBag.title = "Health request";
}

<div class="container">
    @if (!User.Identity.IsAuthenticated)
    {
        <partial name="~/Views/Homework/Health/HealthUserForm.cshtml" model="new HealthUserViewModel()"></partial>
    }
    else
    {
        <partial name="~/Views/Homework/Health/HealthRequestFrom.cshtml"></partial>
    }
</div>