<div>
    <h1>Welcome back! @User.Identity.Name, </h1>
    <span class="text-info"><i class="fa fa-calendar-alt"></i>  @DateTime.UtcNow.ToShortDateString()</span>
    <div class="m-2 text-center">
        <a href="#blog_create_part" class="btn btn-primary m-1">Create Blog</a>
        <a href="#blog_list_part" class="btn btn-primary m-1">Blog List</a>
        <button class="btn btn-primary m-1  ">Health Request</button>
        <button class="btn btn-primary m-1  ">Reply Health Request</button>
    </div>
</div>

<div id="blog_create_part">
    <h4>Create <i class="fa fa-plus-circle"></i></h4>
    <hr />
    <div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input class="form-control" type="text" id="blog_title" />
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Thumnbnail image</span>

            </div>
            <input class="form-control" type="file" id="blog_thumbnail_file" accept=".png, .jpg, .gif" onchange="ReadOneImageFile(this,'png,jpg,gif','thumbnail_loading_status',setImageEncoding)" />
            <div class="ml-1" id="thumbnail_loading_status">
                <partial name="Components/LoaderStatusComponent" />
            </div>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Content</span>
            </div>
            <textarea class="form-control" style="min-height:600px" id="blog_content"></textarea>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Note</span>
            </div>
            <textarea class="form-control" style="min-height:100px" id="blog_note"></textarea>
        </div>

        <button class="btn btn-success" onclick="AddEditBlog(this,true)">
            <i class="fa fa-spinner fa-spin collapse"></i>
            Add
        </button>
        <button class="btn btn-warning" id="edit_blog_data_button" onclick="AddEditBlog(this,false)" disabled>
            <i class="fa fa-spinner fa-spin collapse"></i>
            Edit
        </button>
    </div>
</div>

<div class="mt-5 position-relative" id="blog_list_part">
    <h4>
        Blogs <i class="fa fa-paperclip"></i>
        <span class="ml-5 text-primary " id="blog_countent_status_loading"><i class="fa fa-spinner  fa-spin"></i> Loading..</span>
        <span class="ml-5 text-warning collapse" id="blog_countent_status_noContent">Nothing found <i class="fa fa-sad-tear"></i>, lets create some blogs!</span>
    </h4>
    <hr />

    <table class="table table-hover lg-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Note</th>
                <th scope="col">Visits</th>
                <th scope="col" width="auto">Creation date</th>
                <th scope="col" width="auto">Last updated date</th>
                <th scope="col" width="5%"></th>
                <th scope="col" width="5%"></th>
                <th scope="col" width="5%"></th>
                <th scope="col" width="5%"></th>
            </tr>
        </thead>
        <tbody id="blogs_table_body_part"></tbody>
    </table>

    <partial name="Components/DeleteConfirmationModal" model='new DeleteConfirmationModel() { Name = "title",DeleteCallbackFunctionName = "deleteBlog()" }' />

</div>



<script src="~/js/HealthControlPanel.js"></script>
