<div id="heath_request_history_table">
    <table class="table lg-table">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Content</th>
                <th scope="col">Note</th>
                <th scope="col">Creation date</th>
                <th scope="col">Replies</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="hr_table_body"></tbody>
    </table>


    <div class="text-center m-3">
        <button class="btn btn-primary collapse" id="load_more_request_btn" onclick="loadMoreRequests(this)">
            <i class="fa fa-spinner fa-spin collapse"></i>
            Load More
        </button>
    </div>

</div>
