@*
    A small component to show loading spinner => Sucess icon
                                              => Fail icon
*@

<div class="spinner-border text-primary collapse" role="status">
    <span class="sr-only">Loadding thumbnail file...</span>
</div>
<i class="fa fa-check-circle text-success fa-2x collapse" id=""></i>
<i class="fa fa-times-circle text-danger fa-2x collapse"></i>


